<!--table-hover-->
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">DOB</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Contact No.</th>
      </tr>
    </thead>
    <tbody appAttributeHighlight>
      <tr>
        <th scope="row">1</th>
        <td>{{personalDetail.name}}</td>
        <td>{{personalDetail.DOB | date:"dd-MM-yyyy"}}</td>
        <td>{{personalDetail.city}}</td>
        <td>{{personalDetail.state}}</td>
        <td><div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Phone no.
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">{{personalDetail.contact1}}</a>
              <a class="dropdown-item" href="#">{{personalDetail.contact2}}</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div></td>
      </tr>
     
    </tbody>
  </table>
