<form [formGroup]="ClientForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Name</label>
        <input type="text" class="form-control"  formControlName="name" placeholder="Enter Name"  required>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Mtr Type</label>
        <input type="text" class="form-control" formControlName="mtr_type" placeholder="Enter Mtr type"  required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" formControlName="city" placeholder="Enter City"  required>
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control" formControlName="state"  required>
          <option selected>Choose...</option>
          <option>Udaipur</option>
          <option>Mumbai</option>
          <option>Bangalore</option>
          <option>Delhi</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Phone No</label>
        <input type="text" class="form-control" formControlName="phoneNo" placeholder="Enter City"  required>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Pin Code</label>
        <input type="text" class="form-control" formControlName="pinCode" placeholder="Enter City"  required>
      </div>

    </div>

    <button (click)="onSubmit()" class="btn btn-primary">Sign in</button>
  </form>
