Environment - {{env}}

<!-- <h2>Server List LT</h2>
<app-server-list *ngFor="let serverList of meterDetailLt" [dataList]="serverList"></app-server-list>
<h2>Server List HT</h2>
<app-server-list *ngFor="let serverList of meterDetailHt" [dataList]="serverList"></app-server-list> -->


<h2>Server List LT</h2>
<app-server-list *ngFor="let metersList of meterDetailLt" [mtrList]="metersList"></app-server-list>
<h2>Server List HT</h2>
<app-server-list *ngFor="let metersList of meterDetailHt" [mtrList]="metersList"></app-server-list>


<hr>
<table  class="table">
  <thead appHightlightdirectvie [defaultColor]="'yellow'" [highLight]="'grey'">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody >
    <tr >
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td><div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td><div class="dropdown">
        <button class=" btn btn-secondary dropdown-toggle"  type="button" id="dropdownMenuButton" data-toggle="dropdown">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>


<button (click)="odd=!odd">Get Alternate</button>

<div *appStrcase="odd">
<div  [ngStyle]="{'color': OddNumber%2!==0?'red':'blue'}" *ngFor="let OddNumber of oddNumbers" >
  <p >{{OddNumber}}</p>
</div>
</div>

<div *appStrcase="!odd">
  <div  [ngStyle]="{'color': evenNumber%2!==0?'red':'blue'}" *ngFor="let evenNumber of evenNumbers" >
    <p >{{evenNumber}}</p>
  </div>
  </div>




